
// Colours
$white: 				#fff;
$light-grey:			#f4f4f4;
$turquoise:				#5bc0de;
$blue:					#337ab7;
$navy-blue: 			#2e6da4;
$navy-blue-lightened: 	lighten($navy-blue, 50%);

// Font sizes
$font-size-normal: 13px;
$font-size-large: 17px;

// Font weight
$font-weight-normal: 300;
$font-weight-heavy: 700;

// Header
$header-height: 60px;

// Cell dimensions
$cell-height: 50px;

// Margin
$margin-sm: 10px;
$margin-md: 20px;
$margin-lg: 30px;

// Padding
$padding-sm: 10px;
$padding-md: 20px;
$padding-lg: 30px;

// z-index
$overlay-z-index: 10;