.date-scroll {
  width: 100%; }
  .date-scroll a {
    cursor: pointer; }
    .date-scroll a:hover, .date-scroll a:focus {
      color: #fff;
      text-decoration: none; }

.date-scroll .calendar-body-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-top: 60px;
  padding: 10px 0; }
  .date-scroll .calendar-body-wrapper .calendar-body {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; }
